:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
  }
  

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var( --clr-neutral-900);
    font-family: sans-serif;
}

.card {
    color: var(--clr-neutral-100);
    background-image: url("images/out-of-focus-bokeh-texture-25-780x520.jpg");
    /* background-image: url("images/green_street.gif"); */
    background-size: cover;
    padding: 10rem 0 0 0;
    border-radius: .5rem;
    overflow: hidden;
    /* ch is like character width
    */
    max-width: 35ch;
    transition: transform 500ms ease;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-content{
    transform: translateY(0);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background-image: linear-gradient(
    hsl(0, 0%, 0%, 0),
    hsl(0, 0%, 0%, 0.3) 20%,
    hsl(0, 0%, 0%, 1)
    );
    transform: translateY(65%);
    transition: transform 500ms ease;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content > * {
    transform: translateY(0);
}

.card:hover .card-content > * {
    opacity: 1;
}

.card-title {
    width: max-content; /* for one line of text this will keep the line underneath as the same length */
    position: relative;
    /* outline: 2px solid red; */
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: var(--clr-accent-400);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
    bottom: 2px;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255, 255, 255, 0.8);
}

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: .25em;
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
}